.submit-question-form {
    width: 50%;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}

.MuiFormHelperText-root {
    text-align: right !important;
    margin: 0 !important;
}

.MuiButton-root {
    float: right;
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
}
